* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: black;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 0px 2rem;
  border: 1px solid;
}

.main-heading {
  font-size: 4rem;
  margin: 2rem 0rem 1rem;
  color: white;
  text-align: center;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

/* form section */
.form-class {
  margin: 2rem 0px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.heading-field {
  margin: 1rem 0px 0.6rem;
}

.field-head {
  font-size: 2rem;
}

.input-div {
  margin-bottom: 1rem;
}

.field-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.form-control-input {
  font-size: 1.5rem;
  padding: 0.4rem 0px;
  text-indent: 0.5rem;
  border: none;
  outline: 1px solid #999;
  border-radius: 7px;
  width: 100%;
  color: #999;
}
option {
  color: #999;
}
.radio {
  outline: none;
}

.form-control-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.help-text {
  font-size: 0.7rem;
  margin-top: 0.4rem;
  padding: 0.1rem;
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
  margin-left: 250px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
/* form section ends */
footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
